@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
html,
body {
  background-color: #22223b;
}
h1 {
  font-family: "Syne Mono", monospace;
  color: #f2e9e4;
}
hr {
  background-color: #eee;
}
h6 {
  font-family: "Syne Mono", monospace;
  color: #fdc500;
}
h6 a:link {
  color: #fdc500;
}
h6 a:hover {
  color: #fdc500;
}
img {
  float: inherit;
  height: 50px;
  width: 50px;
  opacity: 1;
}
.user-name-link {
  color: #fdc500;
}
.story-board {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #22223b;
  word-wrap: break-word;
}
p {
  font-family: "Syne Mono", monospace;
  color: #c9ada7;
}
p a:link {
  color: #fdc500;
  opacity: 0.75;
}
p a:hover {
  color: #fdc500;
  opacity: 0.75;
}
.go-top-btn {
  font-size: large;
  color: #fdc500;
  font-family: "Syne Mono", monospace;
  border: 2px solid #fdc500;
  padding: 1%;
  opacity: 0.9;
}
.go-top-btn:hover {
  color: #fdc500;
  text-decoration: none;
  box-shadow: 3px 5px #f05454;
  opacity: 1;
}
.dark-switch-btn {
  position: absolute;
  top: 5px;
  right: 30px;
  float: inherit;
  border: 2px solid #fdc500;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 20px;
  font-family: "Syne Mono", monospace;
  color: #fdc500;
  box-shadow: 0 0 11px #22223b;
  opacity: 0.9;
}
.dark-switch-btn:hover {
  color: #fdc500;
  text-decoration: none;
  box-shadow: 3px 5px #f05454;
  opacity: 1;
}
.light-switch-btn {
  position: absolute;
  top: 5px;
  right: 90px;
  float: inherit;
  border: 2px solid #fdc500;
  padding-left: 2px;
  padding-right: 2px;
  font-family: "Syne Mono", monospace;
  color: #fdc500;
  box-shadow: 0 0 11px #22223b;
  font-size: 20px;
  opacity: 0.9;
}
.light-switch-btn:hover {
  color: #fdc500;
  text-decoration: none;
  box-shadow: 3px 5px #f05454;
  opacity: 1;
}
.url-btn {
  color: #f05454;
}
.url-btn:hover {
  color: #f05454;
  text-decoration: none;
}
.top-set-div {
  background-color: #22223b;
  padding: 20px;
}
.credit-section {
  background-color: #22223b;
  font-family: "Syne Mono", monospace;
  padding-top: 5%;
  color: #eee;
  font-weight: bold;
}
.credit-link {
  float: inherit;
  color: #fdc500;
  height: 30px;
  width: 30px;
}
.credit-link:hover {
  text-decoration: none;
  color: #fdc500;
}
.back-about-btn {
  color: #fdc500;
  font-family: "Syne Mono", monospace;
  border: 2px solid #fdc500;
  float: inherit;
  position: absolute;
  padding-right: 1%;
  padding-left: 1%;
  top: 5px;
  left: 30px;
  box-shadow: 0 0 11px #22223b;
  font-size: 20px;
  opacity: 0.9;
}
.back-about-btn:hover {
  color: #fdc500;
  text-decoration: none;
  box-shadow: 3px 5px #f05454;
  opacity: 1;
}
.post-box {
  font-family: "Syne Mono", monospace;
  border: 2px solid #fdc500;
  padding: 2%;
  color: #f2e9e4;
  margin-bottom: 20px;
  box-shadow: 0 0 11px #262626;
  word-wrap: break-word;
  opacity: 0.9;
}
.post-box:hover {
  box-shadow: 5px 10px #f05454;
  text-decoration: none;
  opacity: 1;
}
.post-box-link:hover {
  text-decoration: none;
}
.awards-img {
  height: 25px;
  width: 25px;
}
.awards-section {
  font-size: 15px;
  color: #eee;
}
.share-btn {
  display: none;
}
.share-wts-btn {
  font-size: large;
  color: #fdc500;
  font-family: "Syne Mono", monospace;
  border: 2px solid #fdc500;
  padding: 1%;
  opacity: 0.9;
  display: none;
}
.share-wts-btn:hover {
  color: #fdc500;
  text-decoration: none;
  box-shadow: 3px 5px #f05454;
  opacity: 1;
}
.share-face-btn {
  font-size: large;
  color: #fdc500;
  font-family: "Syne Mono", monospace;
  border: 2px solid #fdc500;
  padding: 1%;
  opacity: 0.9;
}
.share-face-btn:hover {
  color: #fdc500;
  text-decoration: none;
  box-shadow: 3px 5px #f05454;
  opacity: 1;
}
.coffee-btn {
  color: #fcb00b;
}
.coffee-btn:hover {
  color: #fcb00b;
  text-decoration: none;
}
.coffee-img {
  height: 30px;
  width: 25px;
}
h3 {
  color: #f2e9e4;
  text-transform: uppercase;
  font-family: "Syne Mono", monospace;
  animation: glitch1 2.5s infinite;
}
h3:nth-child(2) {
  color: #f2e9e4;
  animation: glitch2 2.5s infinite;
}
h3:nth-child(3) {
  color: #f2e9e4;
  animation: glitch3 2.5s infinite;
}
@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 1;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 1;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 1;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 1;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 1;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}
@media only screen and (max-width: 600px) {
  .story-board {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #22223b;
    word-wrap: break-word;
  }
  .back-about-btn {
    font-size: 18px;
  }
  .light-switch-btn {
    font-size: 18px;
  }
  .dark-switch-btn {
    font-size: 18px;
  }
  .awards-section {
    font-size: 12px;
  }
  .share-wts-btn {
    display: inline;
  }
  .share-face-btn {
    display: none;
  }
}
